/**
 * Keywords
 */

.container label + select
	margin-top 1em

.search.search--big
	font-size 2.5em

.search__label
	display none

.search__input
	border none
	outline none
	border-bottom .05em solid var(--color_07)
	width 100%
	padding .2em
	padding-right 1.5em
	background-color transparent
	font-size inherit

	&:focus
		border-bottom .07em solid
		margin-bottom -.02em

.search__button
	margin-left -1em
	padding 0
	transition fill .1s ease

	&:hover
		fill currentColor

	svg
		width 1em
		height 1em
		pointer-events none
