/**
 * Button
 */

.btn
	cursor pointer
	padding .4em
	font-size .95em
	position relative

	&
	&:focus
	&:hover
		background none
		outline none
		box-shadow none
		border none
		color inherit
		letter-spacing inherit

	&.btn--underlined

		&:before
			content ""
			height .3em
			position absolute
			left .4em
			right .4em
			bottom .2em
			background-color var(--color_07)
			transform scaleY(0)
			transform-origin bottom
			transition transform .15s ease, opacity .15s ease
			opacity 0

		&:hover:before
			transform scaleY(1)
			opacity .7

		&.btn--is-active:before
			transform scaleY(1)
			opacity 1

	&.btn--text
		text-transform uppercase
		letter-spacing .05em
		line-height 2
		padding 0 .6em
		margin 0 .2em
		font-size .9em

	&.btn--filled
		border-radius .1em
		background-color var(--color_01)
		transition background-color .15s ease

		&:hover
			background-color var(--color_02)

		&[disabled]
			background-color transparent

	&[disabled]
		opacity .3
		cursor default
